---
layout: learnrdefault
---
<div class="posts">
    {% for post in site.posts %}
        {% if post.category contains "learn r" %}
        <div class="entry" style="padding-left : 10px ; float: right" > {{ post.img }}
        </div> 
        <article class="post">
            <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
            <div class="entry">
                {{ post.excerpt }}
            </div>
            <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">اكمل القراءة</a>
        </article>
        {% endif %}
    {% endfor %}
</div>

<!--
<div class="posts">
  {% for post in site.posts %}
  <div class="entry" style="padding-left : 10px ; float: right" > {{ post.img }}
  </div> 
    <article class="post">
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <div class="entry">
        {{ post.excerpt }}
      </div>
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">اكمل القراءة</a>
    </article>
  {% endfor %}
</div>

-->
